.login_container {
    border: 0px solid;
    //background: #000;
    width: calc(100vw - 24px);
    height: calc(100vh - 24px);
    margin: auto;
    display:flex;
}
.login_content {
    //background: #00a2fb;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 10px; 
    //border: 1px dotted rgb(47, 0, 255);
}

.App-logo-login {
    width: 64px;
    height: 64px;
    margin: 15px;
    /*height: 40vmin;*/
    pointer-events: none;
  }
  /* 可以让图标转动起来 */
  @media (prefers-reduced-motion: no-preference) {
    .App-logo-login {
      animation: App-logo-login-spin infinite 20s linear;
    }
  }
  /* 可以让图标转动起来 */
  @keyframes App-logo-login-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@media screen and (max-width: 800px){
    .login_form{
        //border: 1px dotted red;
        min-width: '400px';
    }
}

@media screen and (min-width: 800px){
    .login_form{
        //border: 1px dotted rgb(47, 0, 255);
        min-width: 700px;
    }
}

.test{
  color:#f7f3f3
}